.bg-dark-gray {
  background-color: var(--dark-gray);
  color: var(--white);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.bg-black {
  background-color: var(--black);
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
}

.bg-main-color-1 {
  background-color: var(--main-color-01);
  color: var(--white);
}

.bg-main-color-2 {
  background-color: var(--main-color-02);
  color: var(--white);
}

.bg-main-color-3 {
  background-color: var(--main-color-03);
}