$border-radius: 3px;
$color_1: var(--blue);
$color_2: var(--light-gray);

.gk-downloads {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2em;
  margin-bottom: 2rem;

  .download-block {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 0;
    border-radius: $radius;

    .title {
      color: $color_1;
      font-weight: 700;
      margin-bottom: unset;
    }

    a, button {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: left;
      border-radius: $border-radius;
      font-weight: 500;
      color: var(--white);
      width: 100%;
      height: 100%;
      margin: 0;
      font-size: 1rem;
      padding: 1rem;
      background-color: $color_2;


      &.download {
        padding-left: 3rem;
        &:after {
          content: "";
          background: url(../img/icon-download.svg) no-repeat center center;
          width: 1.5rem;
          height: 1.5rem;
          position: absolute;
          left: .5rem;
          top: 1rem;
        }        
      }

      &:before {
        position: absolute;
        z-index: -1;
        content: '';
        width: 0;
        height: 100%;
        background-color: $color_1;
        top: 0;
        left: 0;
        transition: all .3s ease-in-out;
      }

      &:hover {
        &:before {
          width: 100%;
          background-color: $color_1;
          top: 0;
          left: 0;
          transition: all .3s ease-in-out;
        }
      }
    }
  }
}