html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  --res: calc(0.01 * 10vmin);
  &.no-scroll {
    overflow-y: hidden;
    @media only screen and (min-width: $large) {
      overflow: auto;
    }
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #0A0623;
  font-family: var(--body-font);
  font-size: .9375rem;
  color: var(--gray);
  font-weight: 300;
  letter-spacing: 0.02rem;
  &.dark {
    background: var(--white);
    color: var(--gray);
  }
}

a, input {
  outline: none;

  &:hover, &:focus {
    outline: none;
  }
}
.relative {
  position: relative;
}

.content-wrapper {
  min-height: 100vh;
}

.container {
  margin: auto;
  max-width: $width-container;
  padding: 0 1rem;
}

a {
  color: var(--action);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  &[target="_blank"]{
    &::after{
      margin-left: 5px;
      content: url("../img/external.svg");
    }
  }

  &:hover, &:focus {
    color: rgba(var(--action-rgb), .2);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: calc(40 * var(--res));
  line-height: 62px;
}

h2 {
  font-size: calc(32 * var(--res));
}

h3 {
  font-size: calc(28 * var(--res));
}

h4 {
  font-size: calc(20 * var(--res));
}

h5 {
  font-size: calc(18 * var(--res));
}

h6 {
  font-size: calc(16 * var(--res));
}

.text-center {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

ul {

  li {
    position: relative;
    list-style-type: none;

    &:before {
      position: absolute;
      content: '';
      background-color: var(--main-color-01);
      width: 4px;
      height: 4px;
      top: 50%;
      left: -.75rem;
      transform: translateY(-50%);
    }
  }
}

.flexible-content, .flexible{
  p{
    a{
      text-decoration: underline;
    }
  }

}

hr {
  border-top: 1px solid var(--light-gray);
  border-bottom: 0;
  margin: 2rem 0;
}

blockquote {
  margin: 0 0 1rem;
  padding: 3rem 2rem;
  border-left: 0 solid var(--black);
  color: var(--white);
  background-color: var(--main-color-01);

  p {
    position: relative;
    font-size: 1.5rem;
    color: var(--white);
    padding-top: 2rem;

    &:before {
      position: absolute;
      content: "\201C";
      font-weight: 900;
      font-size: 6rem;
      color: var(--white);
      top: -2rem;
      left: 0;
      width: 100%;
      line-height: 1;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }

  cite {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--white);
  }
}

table {
  border-color: var(--light-gray);

  th {
    background-color: var(--black);
    color: var(--white);
  }

  tr {
    td {
      background-color: var(--light-gray);
      color: var(--black);
    }

    &:nth-child(odd) {
      td {
        background-color: var(--light-gray);
        color: var(--black);
      }
    }
  }
}

table {
  th, td {
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    text-align: center;
    padding: 1.5rem 1rem;
  }
}

span {
  &.dropcap {
    background-color: var(--main-color-01);
    display: inline-block;
    color: var(--white);
    border-color: transparent;
    padding: .5rem 1rem;
    font-size: 2.368em;
    font-weight: 700;
    line-height: 1.56em;
    text-align: center;
    margin: 0.2em 0.2em 0 0;
    border-radius: $radius;
  }
}

.popup {
  .main-section {
    padding-top: 0;
  }
}

.breadcrumbs {
  position: relative;
  z-index: 10;
  background: transparent;
  display: block;
  color: var(--black);
  margin: 0;
  padding: 0;
  font-size: .75rem;
  text-align: left;

  nav {
    display: block;
  }

  span {
    color: var(--black);
    &.breadcrumb_last {
      font-weight: bold;
    }
  }

  a {
    color: var(--black);
  }
}

.tool-pagination {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  margin-left: 0;
  justify-content: center;
  align-items: center;

  a {
    background: var(--black);
    height: 32px;
    padding: .5rem 1rem;
    color: var(--white);
    text-align: center;
    @include transition;

    &:hover {
      background: var(--black);
      color: var(--main-color-01);
      @include transition;
    }
  }

  .pages {
    width: 100%;
    display: inline-flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding: 1rem;
    list-style-type: none;

    li {
      list-style-type: none;
    }

    span {

      &.current {
        background: var(--light-gray);
        height: 32px;
        padding: .75rem 1rem;
        color: var(--white);
        text-align: center;
        @include transition;
      }
    }

    a {
      background: var(--black);
      height: 32px;
      padding: .75rem 1rem;
      color: var(--white);
      text-align: center;
      @include transition;

      &:hover {
        background: var(--black);
        color: var(--main-color-01);
        @include transition;
      }
    }
  }
}

.flickity-button:disabled {
  opacity: 0;
}

//// Alignement
.centered {
  display: flex;
  justify-content: center;
}

//// Cursor
#cursor {
  position: absolute;
  z-index: 999;
  width: 8px;
  height: 8px;
  background: var(--main-color-02);
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: transform .35s ease-out;
}


/**
*
* Intro
*
*/

.intro {
  position: relative;
  background: transparent;
  z-index: 5;
  left: 0;
  width: 100%;
  color: var(--black);
  margin-bottom: 3rem;
  padding: 0;
  transform: translateY(0);

  .bg-intro {
    position: relative;
    background: var(--light-gray);
    width: 100%;
    height: $height-top-intro;

    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;

    &:before {
      position: absolute;
      content: '';
      background-color: var(--black);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    img {
      position: relative;
      @include object-fit(cover, center);
      width: 100%;
      height: 100%;
      opacity: .5;
    }
  }

  .bottom-intro {
    display: flex;
    justify-content: center;
    align-items: center;

    h1, .breadcrumbs {
      position: relative;
      z-index: 10;
    }

    h1 {
      font-weight: 600;
      background: transparent;
      //color: var(--gray);
    }
  }
}


/**
*
* Social Media
*
*/

ul.social-medias {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
  margin: 2rem 0;
  padding: 0;

  li {
    list-style-type: none;
    display: inline-block;
    margin: 0 .5rem;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: $radius;
    background: transparent;
    @include transition;

    &:before {
      display: none;
    }

    a {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      color: var(--light-gray);
      width: 100%;
      height: 100%;
      padding: 0;
      top: 0;

      &:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        background-repeat: no-repeat;
        background-position: center center;
        width: 1.5rem;
        height: 1.5rem;
        @include transition;
      }

      &.facebook {

        &:before {
          background-image: url(../img/icon-facebook.svg);
        }
      }

      &.twitter {

        &:before {
          background-image: url(../img/icon-twitter.svg);
        }
      }

      &.youtube {

        &:before {
          background-image: url(../img/icon-youtube.svg);
        }
      }

      &.instagram {

        &:before {
          background-image: url(../img/icon-instagram.svg);
        }
      }

      &.linkedin {

        &:before {
          background-image: url(../img/icon-linkedin.svg);
        }
      }

      &.tripadvisor {

        &:before {
          background-image: url(../img/icon-tripadvisor.svg);
        }
      }
    }

    &:hover {
      background-color: var(--main-color-02);

      a {
        &:before {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
  }
}
