.header-cart{
  position: absolute;
  top:2rem;
  right: 1rem;

  svg{
    fill: var(--black);
  }

  &:hover{
    svg{
      fill: var(--gray);
    }
  }
}

.woocommerce, .woocommerce-page .content-area {

  width: 100%;

  .products-list{
    clear:both;
  }

  .woocommerce-result-count{
  }

  a, button, input{

    &.button{

    }
  }
}